
body{
font-family:'Tajawal', sans-serif;
margin:0;
background:linear-gradient(135deg,#f6e9ff,#e6ecff);
color:#333;
}

.hero{
background:linear-gradient(135deg,#6c4cff,#ff6ab0);
color:white;
padding:80px 20px;
text-align:center;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.subtitle{
font-weight:bold;
margin-bottom:20px;
}

.btn{
display:inline-block;
background:white;
color:#6c4cff;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
margin-top:10px;
}

.features{
padding:60px 20px;
text-align:center;
background:linear-gradient(135deg,#fdf0ff,#eef1ff);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
max-width:900px;
margin:auto;
}

.card{
background:linear-gradient(135deg,#e6cbe3,#d298d7);
padding:25px;
color: #fff;
font-weight: 700;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
transition:transform 0.3s ease, box-shadow 0.3s ease;
border:1px solid #eee;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);

}

.course{
background:rgb(223, 186, 218);
color: #fff;
font-weight: 700;
padding:60px 20px;
max-width:800px;
margin:auto;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.05);
}

.course ul{
line-height:2;
}

.register{
padding:60px 20px;
text-align:center;
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:12px;
text-align:right;
}

input,select{
padding:12px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:14px;
border:none;
border-radius:8px;
background:#6c4cff;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

.contact{
margin-top:20px;
}

footer{
text-align:center;
padding:20px;
color:#666;
}

/* fade in animation */

.hidden{
opacity:0;
transform:translateY(40px);
transition:all 0.8s ease;
}

.show{
opacity:1;
transform:translateY(0);
}


/* button animation */

.btn{
transition:all 0.3s ease;
}

.btn:hover{
transform:translateY(-3px) scale(1.05);
box-shadow:0 10px 20px rgba(0,0,0,0.15);
}


/* cards animation */

.card{
transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);
}
.floating{
position:fixed;
width:200px;
height:200px;
background:radial-gradient(circle,#ff6ab0,#6c4cff);
opacity:0.15;
border-radius:50%;
top:20%;
left:10%;
animation:float 10s infinite alternate ease-in-out;
z-index:-1;
}

@keyframes float{
from{transform:translateY(0px)}
to{transform:translateY(60px)}
}
